<main id="main" class="main">
    <div class="pagetitle">
       <h1>Historico de reservas</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Reservas</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Reservas realizadas</h5>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Parqueadero</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora ingreso</th>
                            <th scope="col">Hora salida</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Valor</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>UNIAJC</td>
                            <td>jue, 27/04/2023</td>
                            <td>9:15 a.m.</td>
                            <td>11:20 a.m.</td>
                            <td>ICQ40D</td>
                            <td>$6.500</td>
                         </tr>  
                         <tr>
                            <th scope="row">2</th>
                            <td>Los Almendros</td>
                            <td>mar, 02/05/2023</td>
                            <td>2:45 p.m.</td>
                            <td>5:30 p.m.</td>
                            <td>JBG23F</td>
                            <td>$8.000</td>
                         </tr>
                         <tr>
                            <th scope="row">3</th>
                            <td>Central Park</td>
                            <td>lun, 08/05/2023</td>
                            <td>8:30 a.m.</td>
                            <td>12:00 p.m.</td>
                            <td>QWE80L</td>
                            <td>$5.500</td>
                         </tr>
                         <tr>
                            <th scope="row">4</th>
                            <td>Parking de la Estrella</td>
                            <td>vie, 12/05/2023</td>
                            <td>3:15 p.m.</td>
                            <td>6:45 p.m.</td>
                            <td>NPM16R</td>
                            <td>$9.000</td>
                         </tr>
                         <tr>
                            <th scope="row">5</th>
                            <td>Los Pinos</td>
                            <td>mar, 16/05/2023</td>
                            <td>11:00 a.m.</td>
                            <td>1:30 p.m.</td>
                            <td>VBN97T</td>
                            <td>$4.500</td>
                         </tr>
                         <tr>
                            <th scope="row">6</th>
                            <td>El Bosque</td>
                            <td>lun, 22/05/2023</td>
                            <td>9:45 a.m.</td>
                            <td>12:30 p.m.</td>
                            <td>XCV42D</td>
                            <td>$6.500</td>
                         </tr>
                         <tr>
                            <th scope="row">7</th>
                            <td>Parqueo de la Luna</td>
                            <td>mie, 24/05/2023</td>
                            <td>2:00 p.m.</td>
                            <td>5:15 p.m.</td>
                            <td>KMN79L</td>
                            <td>$7.000</td>
                         </tr>
                         <tr>
                            <th scope="row">8</th>
                            <td>Los Cerezos</td>
                            <td>sab, 27/05/2023</td>
                            <td>11:30 a.m.</td>
                            <td>2:00 p.m.</td>
                            <td>QAZ28F</td>
                            <td>$6.000</td>
                         </tr>
                         <tr>
                            <th scope="row">9</th>
                            <td>Las Rosas</td>
                            <td>vie, 02/06/2023</td>
                            <td>4:00 p.m.</td>
                            <td>7:00 p.m.</td>
                            <td>LMP63R</td>
                            <td>$8.500</td>
                         </tr>                     
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>