<div id="map"></div>
<p-toast></p-toast>

<form [formGroup]="reservaForm" class="p-fluid">
  <p-confirmDialog
    header="Confirmar"
    key="plazas-disponibles"
    icon="pi pi-exclamation-triangle"
  >
  </p-confirmDialog>

  <p-dialog
    header="Seleccione su vehiculo"
    [(visible)]="displayModalPlazas"
    [style]="{ width: '20vw' }"
    [modal]="true"
    (onHide)="redirectToDashboard()"
  >
    <div class="p-col-4 p-md-text-left p-sm-12 p-text-right">
      <div class="position-relative">
        <p-dropdown
          [options]="listaVehiculos"
          formControlName="placa"
          class=""
          optionLabel="plate"
          [filter]="true"
          filterBy="plate"
          [showClear]="true"
          placeholder="Seleccion placa"
          appendTo="body"
          (onChange)="mostrarPlazasDisponiblesPlaca($event.value)"
        >
          <ng-template let-vehiculo pTemplate="item">
            <div class="d-flex align-items-center gap-2">
              <div>{{ vehiculo.plate }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    header="Reserva de parqueadero"
    [(visible)]="displayModalRegistro"
    [style]="{ width: '20vw' }"
  >
    <div class="p-col-4 p-md-text-left p-sm-12 p-text-right">
      <label for="placa">Placa de vehículo:</label>
      <div class="position-relative">
        <p-dropdown
          [options]="listaVehiculos"
          formControlName="placa"
          optionLabel="plate"
          [filter]="true"
          filterBy="plate"
          [showClear]="true"
          placeholder="Seleccion placa"
          appendTo="body"
        >
          <ng-template let-vehiculo pTemplate="item">
            <div class="d-flex align-items-center gap-2">
              <div>{{ vehiculo.plate }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="fechaReserva">Fecha reserva:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          formControlName="fechaReserva"
          [showIcon]="false"
          label="Fecha reserva:"
          [required]="true"
          appendTo="body"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (onSelect)="validateDate()"
        ></p-calendar>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="horaEntrada">Hora de entrada:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          [timeOnly]="true"
          formControlName="horaEntrada"
          [showIcon]="false"
          [required]="true"
          [minDate]="minHour"
          (onSelect)="validateTime()"
        ></p-calendar>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="horaSalida">Hora de salida:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          [timeOnly]="true"
          formControlName="horaSalida"
          [showIcon]="false"
          [required]="true"
        ></p-calendar>
      </div>
    </div>
    <hr class="separator" />
    <div class="card flex flex-wrap gap-3 justify-content-center">
      <p-button
        label="Aceptar"
        styleClass="p-button-warning"
        (click)="crearObjetoReserva()"
        [disabled]="reservaForm.invalid"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="p-button-outlined p-button-secondary"
        (click)="cancelarReserva()"
      ></p-button>
    </div>
  </p-dialog>
</form>

<form [formGroup]="reservaFiltrosForm" class="p-fluid">
 
  <button class="layout-config-button p-link" styleClass="p-button-warning" type="button" (click)="openFilterModal()">
    <i class="pi pi-filter"></i>
  </button>

 

  <p-dialog
    header="Filtrar Parqueaderos"
    [(visible)]="displayModalFiltros"
    [style]="{ width: '30vw' }"
  >
    <div style="display: flex; flex-direction: column">
      <label>Horario de atención</label>
      <div style="display: flex; flex-wrap: wrap">
        <div style="flex-basis: 50%; padding-right: 5px">
          <div>
            <p-calendar
              [timeOnly]="true"
              formControlName="horaFilterEntrada"
              [showIcon]="false"
              [required]="true"
              (onSelect)="assignEntryDate($event)"
              placeholder="Entrada"
            ></p-calendar>
          </div>
        </div>
        <div style="flex-basis: 50%; padding-left: 5px">
          <div>
            <p-calendar
              [timeOnly]="true"
              formControlName="horaFilterCierre"
              [showIcon]="false"
              (onSelect)="assignExitDate($event)"
              [minDate]="minHourSalida"
              placeholder="Salida"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>

    <hr class="separator" />

    <div style="display: flex; flex-direction: column">
      <label>Tarifas</label>
      <div style="display: flex; flex-wrap: wrap">
        <div style="flex-basis: 50%; padding-right: 10px">
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-dollar"></i>
              <input
                type="text"
                pInputText
                formControlName="montoMinimo"
                (keypress)="handleKeyPress($event)"
                placeholder="Monto Mínimo"
              />
            </span>
          </div>
        </div>
        <div style="flex-basis: 50%; padding-left: 10px">
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-dollar"></i>
              <input
                type="text"
                pInputText
                formControlName="montoMaximo"
                (keypress)="handleKeyPress($event)"
                placeholder="Monto Máximo"
              />
            </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="separator" />
    <div style="display: flex; flex-direction: column">
      <div style="display: flex; flex-wrap: wrap">
        <div style="flex-basis: 50%; padding-right: 10px">
          <div>
            <p-button
              label="Aceptar"
              styleClass="p-button-warning"
              (click)="sendFilter()"
            ></p-button>
          </div>
        </div>
        <div style="flex-basis: 50%; padding-left: 10px">
          <div>
            <p-button
              label="Cancelar"
              styleClass="p-button-outlined p-button-secondary"
              (click)="closeFilterModal()"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
