#map { height: 800px; }

.custom-dialog {
    width: 500px;
  }

  .separator {
    border-top: 1px dashed #ccc;
    margin: 1rem 0;
  }
  
  .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .black-button {
    background-color: #ffb900 !important;
    color: black !important;
    border-color: #ffb900 !important;
  }
  