<div id="map"></div>
<p-toast></p-toast>

<p-confirmDialog header="Confirmar"
  key="plazas-disponibles"
  icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<p-dialog header="Reserva de parqueadero" [(visible)]="displayModal">
  <form [formGroup]="reservaForm">
    <div class="d-flex">     
      <div class="form-group position-relative">
        <label for="placa">Placa de vehículo:</label>
        <div class="position-relative">
          <p-dropdown [options]="listaVehiculos"
          class=""
            optionLabel="name"
            [filter]="true"
            filterBy="placa"
            [showClear]="true"
            placeholder="Seleccion placa"
            appendTo="body">
            <ng-template let-vehiculo pTemplate="item">
              <div class="d-flex align-items-center gap-2">
                <div>{{ vehiculo.placa }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
    
    
    
    <div class="form-group">
      <label for="fechaReserva">Fecha reserva:</label>
      <input type="date" formControlName="horaEntrada" id="horaEntrada" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="horaEntrada">Hora de entrada:</label>
      <input type="time" formControlName="horaEntrada" id="horaEntrada" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="horaSalida">Hora de salida:</label>
      <input type="time" formControlName="horaSalida" id="horaSalida" class="form-control" required>
    </div> <br>
    <div class="p-dialog-footer">
      <button type="submit" pButton (click)="realizarRegistro()" label="Reservar"></button>
      <button type="submit" pButton (click)="realizarRegistro()" label="Reservar"></button>
    </div>
  </form>
</p-dialog>

