<div id="map"></div>

<p-toast></p-toast>

<form [formGroup]="reservaForm" class="p-fluid">
  <p-confirmDialog
    header="Confirmar"
    key="plazas-disponibles"
    icon="pi pi-exclamation-triangle">
  </p-confirmDialog>

  <p-dialog 
    header="Seleccione su vehiculo"
    [(visible)]="displayModalPlazas"
    [style]="{ width: '20vw' }"
    [modal]="true"
    (onHide)="redirectToDashboard()"
  >
    <div class="p-col-4 p-md-text-left p-sm-12 p-text-right">
      <div class="position-relative">
        <p-dropdown
          [options]="listaVehiculos"
          formControlName="placa"
          class=""
          optionLabel="plate"
          [filter]="true"
          filterBy="plate"
          [showClear]="true"
          placeholder="Seleccion placa"
          appendTo="body"
          (onChange)="mostrarPlazasDisponiblesPlaca($event.value)"
        >
          <ng-template let-vehiculo pTemplate="item">
            <div class="d-flex align-items-center gap-2">
              <div>{{ vehiculo.plate }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    header="Reserva de parqueadero"
    [(visible)]="displayModalRegistro"
    [style]="{ width: '20vw' }"
  >
    <div class="p-col-4 p-md-text-left p-sm-12 p-text-right">
      <label for="placa">Placa de vehículo:</label>
      <div class="position-relative">
        <p-dropdown
          [options]="listaVehiculos"
          formControlName="placa"
          optionLabel="plate"
          [filter]="true"
          filterBy="plate"
          [showClear]="true"
          placeholder="Seleccion placa"
          appendTo="body"
        >
          <ng-template let-vehiculo pTemplate="item">
            <div class="d-flex align-items-center gap-2">
              <div>{{ vehiculo.plate }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="fechaReserva">Fecha reserva:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          formControlName="fechaReserva"
          [showIcon]="false"
          label="Fecha reserva:"
          [required]="true"
          appendTo="body"
          [minDate]="minDate" [maxDate]="maxDate" 
          (onSelect)="validateDate()"
        ></p-calendar>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="horaEntrada">Hora de entrada:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          [timeOnly]="true"
          formControlName="horaEntrada"
          [showIcon]="false"
          [required]="true"
          [minDate]="minHour"
          (onSelect)="validateTime()" 
          ></p-calendar>
      </div>
    </div>

    <div class="p-col-4 p-text-right">
      <label for="horaSalida">Hora de salida:</label>
      <div class="p-col-4 p-pt-2">
        <p-calendar
          [timeOnly]="true"
          formControlName="horaSalida"
          [showIcon]="false"
          [required]="true"
        ></p-calendar>
      </div>
    </div>
    <hr class="separator" />
    <div class="card flex flex-wrap gap-3 justify-content-center">
      <p-button
        label="Aceptar"
        styleClass="p-button-warning"
        (click)="crearObjetoReserva()"
        [disabled]="reservaForm.invalid"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="p-button-outlined p-button-secondary"
        (click)="cancelarReserva()"
      ></p-button>
    </div>
  </p-dialog>
</form>

<p-button
  (click)="openFilterModal()"
  icon="pi pi-external-link"
  label="Show"
></p-button>

<p-dialog
  header="Filtrar Parqueaderos"
  [(visible)]="displayModalFiltros"
  [style]="{ width: '30vw' }"
>
  <hr class="separator" />
  <!-- Horario de atención -->
  <div class="p-col-6 p-md-text-left p-sm-12 p-text-right">
    <label>Horario de atención</label>
    <div class="p-col-6 p-pt-2">
      <p-calendar
        [timeOnly]="true"
        formControlName="horaFilterEntrada"
        [showIcon]="false"
        [required]="true"
        (onSelect)="assignEntryDate($event)"
        placeholder="Entrada"
      ></p-calendar>
    </div>
    <div class="p-col-6 p-pt-2">        
      <p-calendar
        [timeOnly]="true"
        formControlName="horaFilterCierre"
        [showIcon]="false"
        (onSelect)="assignExitDate($event)"
        [minDate]="minHourSalida"
        placeholder="Salida"
      ></p-calendar>
    </div>
  </div>
  <hr class="separator" />
  <div class="p-col-6 p-md-text-left p-sm-12 p-text-right">
    <label>Tarifas</label>
    <div class="p-col-6 p-pt-2">
      <p-dropdown
        [options]="listaVehiculos"
        formControlName="montoMinimo"
        class=""
        optionLabel="plate"
        [filter]="true"
        filterBy="plate"
        [showClear]="true"
        placeholder="Minimo"
        appendTo="body"
        (onChange)="assignMinimumAmount($event)"
      >
        <ng-template let-vehiculo pTemplate="item">
          <div class="d-flex align-items-center gap-2">
            <div>{{ vehiculo.plate }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <p-dropdown
        [options]="listaVehiculos"
        formControlName="montoMaximo"
        class=""
        optionLabel="plate"
        [filter]="true"
        filterBy="plate"
        [showClear]="true"
        placeholder="Máximo"
        appendTo="body"
        (onChange)="assignMaximumAmount($event)"
      >
        <ng-template let-vehiculo pTemplate="item">
          <div class="d-flex align-items-center gap-2">
            <div>{{ vehiculo.plate }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <hr class="separator" />
  <p-button
    label="Aceptar"
    styleClass="p-button-warning"
    (click)="sendFilter()"
  ></p-button>
  <p-button
    label="Cancelar"
    styleClass="p-button-outlined p-button-secondary"
    (click)="closeFilterModal()"
  ></p-button>
</p-dialog>